includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    ignoreErrors:
        - '#Method App\\Admin\\Middleware\\Authenticate::redirectTo\(\) should return string but return statement is missing.#'
        - '#Call to an undefined method Laravel\\Dusk\\Browser::createType().#'
    paths:
        - app
        - tests
    level: 4
