// All vars are listed at https://bootstrapvars.com/
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Laravel provided named colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Bootstrap Default Colors:
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #343a40;

// Colors from Greyson Theme. https://themestr.app
/*
$primary:#2f3c48;
$secondary:#6f7f8c;
$success:#3e4d59;
$danger:#cc330d;
$info:#5c8f94;
$warning:#6e9fa5;
$light:#eceeec;
$dark:#1e2b37;
 */

// Voltare
/*
$primary:#2F414A;
$secondary:#F47B53;
$success:#420084;
$danger:#f2460d;
$info:#7ebcfa;
$warning:#ff9933;
$light:#eef0f2;
$dark:#000633;
*/
