// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";

.blue {
  color: $blue;
}

.indigo {
  color: $indigo;
}

.purple {
  color: $purple;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.teal {
  color: $teal;
}

.cyan {
  color: $cyan;
}
