// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";

// Autocomplete [in NavBar]
@import "~autocomplete-js/dist/autocomplete.min.css";

/*
 * Package additions
 */
body {
  padding-top: 4.5rem;
}

.blue {
  color: $blue;
}

.indigo {
  color: $indigo;
}

.purple {
  color: $purple;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.teal {
  color: $teal;
}

.cyan {
  color: $cyan;
}

.form-rendered #fb-editor {
  display: none;
}

#fb-render {
  display: none;
}

.form-rendered #fb-render {
  display: block;
}

#edit-form {
  display: none;
  float: right;
}

.form-rendered #edit-form {
  display: block;
}
